### BACKUP CONFIGURATION ###

# KEEP THE PASSWORD SAFE. It is HIGHLY recommended to chmod 400 this file so 
# that other users can not read it

# To decrypt backups made by this script, run the following command:
# openssl enc -aes256 -in [encrypted backup] -out decrypted_backup.tgz -pass pass:[backup password] -d -md sha1

## Edit the entries below to match your needs ##

# The password used to encrypt the backup
# NOTE: MAKE SURE THAT YOU CHMOD THIS FILE TO 400 TO AVOID UNAUTHORISED ACCESS
BACKUPPASS="mysecurepassword"

# Directory to store backups
LOCALDIR="/root/backups/"

# Temporary directory used during backup creation
TEMPDIR="/root/backups/temp/"

# File to log the outcome of backups
LOGFILE="/root/backups/backup.log"

# Number of days to store daily local backups
LOCALAGEDAILIES="7"

# Number of days to store weekly local backups
LOCALAGEWEEKLIES="28"

# Number of days to store monthly local backups
LOCALAGEMONTHLIES="183"

# Below is a list of files and directories that will be backed up in the tar
# backup. To add an entry, add a new line with the same format
BACKUP+=("/")

# Files and directories to exclude from tar backups
# To add an entry, add a new line with the same format
# NOTE: DO NOT LEAVE A TRAILING SLASH ON LINUX - IT WILL CAUSE IT TO NOT WORK
EXCLUDE+=("")
EXCLUDE+=("/proc")
EXCLUDE+=("/tmp")
EXCLUDE+=("/mnt")
EXCLUDE+=("/dev")
EXCLUDE+=("/sys")
EXCLUDE+=("/run ")
EXCLUDE+=("/media ")
EXCLUDE+=("/var/log")
EXCLUDE+=("/var/cache/apt/archives")
EXCLUDE+=("/usr/src/linux-headers*")
EXCLUDE+=("/home/*/.gvfs")
EXCLUDE+=("/home/*/.cache")
EXCLUDE+=("/home/*/.local/share/Trash")
